<div class="panel panel-default ">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
        <button 
          class="btn btn-success"
          [disabled]="buttonDisabled"
          (click) = "startBattleRound(actionToTake.value,spellToCast.value)">Start round</button>
        <button 
          class="btn btn-danger"
          [disabled]="buttonDisabled"
          (click) = "resetCharLife()">Reset Character Life</button>
        <p>Reset times: {{numberOfResets}}</p>
      </div>
        
      <!-- Action Console -->
      <div class="col-md-8">
        <div class="row"> 
          <div class="col-md-6">    
            <div class="form-group" id="actionToTake">
              <label>Select Action</label>   
              <select class="form-control" #actionToTake>
                  <option value = "atk">Attack</option>
                  <option *ngIf= "spellList"  value = "cas">Cast a spell</option>
              </select>
            </div>
          </div>
     
          <div class="col-md-6">    
            <div class="form-group"  >   
              <div class="col-md-12">
                <label>Select Spell</label>
                <select class="form-control" #spellToCast>
                  <option 
                    *ngFor=" let spell of spellList"
                    [value] = "spell">
                    {{ spell }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>