<div class="panel panel-default ">
  <div class="panel-body">
    <div class="row">

      <div class="col-md-4">
        <button 
          class="btn btn-success"
          [disabled]="buttonDisabled"
          (click) = "startBattleRound(actionToTake.value,spellToCast.value,quickSpellToCast.value,auraToRelease.value)">Start round</button>
        <button 
          class="btn btn-warning"
          [disabled]="buttonDisabled"
          (click) = "resetCharacter()">Reset Character</button>
        <button 
          class="btn btn-danger"
          [disabled]="buttonDisabled"
          (click) = "resetMonster()">Reset Monster</button>
        <p>Losses: {{numberOfLosses}}</p>
        <p>Wins: {{numberOfWins}}</p>
      </div>
        
      <!-- Action Console -->
      <div class="col-md-8">
        <div class="row"> 
          <div class="col-md-6">    
            <div class="form-group" id="actionToTake">
              <label>Select Action</label>   
              <select class="form-control" [disabled]="currentChar.cannotAct()" #actionToTake>
                  <option value = "atk">Attack</option>
                  <option *ngIf= "spellList.length > 0"  value = "cas">Cast a spell</option>
              </select>
              <label>Select Aura to release</label>   
              <select class="form-control" #auraToRelease>
                <option></option>
                <option 
                  *ngFor=" let aura of activeAuraList()"
                  [value] = "aura">
                  {{ getAuraName(aura)  }}
                </option>
              </select>
            </div>
          </div>
     
          <div class="col-md-6">    
            <div class="form-group"  >   
              <div class="col-md-12">
                <label>Select Spell</label>
                <select class="form-control" #spellToCast>
                  <option 
                    *ngFor=" let spell of spellList"
                    [value] = "spell">
                    {{ spell }}
                  </option>
                </select>
                <label>Select Quick Spell</label>
                <select class="form-control" #quickSpellToCast>
                  <option></option>
                  <option 
                    *ngFor=" let spell of quickSpellList()"
                    [value] = "spell">
                    {{ spell }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>